upstream app_backend {
    server ${V1_HOST} weight=95;
    server ${V2_HOST} weight=5;
}

server {
    listen ${PORT};

    location / {
        proxy_pass ${PROXY_SCHEME}://app_backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}