upstream app_backend {
    server ${V1_HOST} weight=95;
    server ${V2_HOST} weight=5;
}

server {
    listen ${PORT};

    location / {
        proxy_ssl_server_name on;
        proxy_ssl_name $proxy_host;
        proxy_pass https://app_backend;
    }
}
